<div class="container">
    <app-nav-Adminmenu></app-nav-Adminmenu>
    <article class="topcontent">
        <header>
            <h2><a href="#" rel="bookmark" title="Permalink to this POST TITLE">Contact Us</a></h2>
        </header>

        <!--<footer>
            <p class="post-info">This was posted on the 2nd of March 2013 by Christian Vasile</p>
        </footer>-->

        <content>
            <p>In order to obtain more information regarding our service offerings, please feel free to email or call
                our offices. Our normal business hours are 10:00 am to 06:00 pm</p>


            <b>V.Vijayan</b><br>
            Managing Director
            <br><br>
            <br>
            Luxury Associates<br>
            71,JAYALALITHA VANIKA VAZHAKAM,<br>
            Near ESSWRAN KOVIL, <br>
            IDAPPADI, IDAPPADI TK, <br>
            SALEM DT, PIN - 637101<br>


            <p><b>Mobile:</b> +91 9788539904
            </p>
            <p><b>Email:</b> vijayan.v97@gmail.com</p>
        </content>

    </article>
    <app-nav-footer></app-nav-footer>
</div>