<div class="container">
    <app-nav-Adminmenu></app-nav-Adminmenu>
    <article class="topcontent">
        <header>
            <h2><a href="#" rel="bookmark" title="Permalink to this POST TITLE">About Us</a></h2>
        </header>

        <content>
            <p>Laxury Associates was started in 2019. The Company offers matrimonial services to India and Non Resident Indian's </p><br>
            <p><b>Types of Matrimonial Service Offered</b></p>
            <ul>
                <li>Luxury Associate Website</li>
                <li>Exclusive Community</li>
            </ul>
            <p>In Luxury Associate Website, Members can register their information. Once confirm, members profile will be added in website.</p>

        </content>

    </article>
    <app-nav-footer></app-nav-footer>
</div>